.container-add-cart {
  /* background-color: red; */
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 1.5px solid black;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.cart-message {
  display: block;
  z-index: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  font-size: 15px;
  /* font-weight: bold; */
  font-family: "Madimi One", sans-serif;
}

.icon-cart {
  z-index: 1;
}

.container-add-cart:hover {
  background-color: pink;
}

.cart-message:hover {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.icon-cart:hover {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.container-add-cart:active {
  transform: scale(
    0.95
  ); /* Escalamos el contenedor al 95% de su tamaño original */
}
