:root {
  --primary-color: rgb(255, 189, 240);
  --main-font: "Labster", sans-serif;
}

.option {
  z-index: 1;
  display: block;
  cursor: pointer;
}

.button {
  position: relative;
  overflow: hidden;
  /* background-color: aqua; */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  left: 0;
  top: 0px;
  transform: translate(-100%, -50%);
  transition: transform 0.5s;
  background-color: var(--primary-color);
  border-radius: 100%;
  z-index: -1;
}

.button::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  left: 0;
  top: 0px;
  transform: translate(100%, 50%);
  transition: transform 0.5s;
  background-color: var(--primary-color);
  border-radius: 100%;
  z-index: -1;
}

/* .button:hover::after {
  transform: translate(-50%, -50%);
} */

.button:hover::before {
  transform: translate(50%, 0%);
}
